{% extends 'base_task_ro.html' %}
{% load bootstrap4 %}
{% block actualediter %}
<h4 class="mb-2">実績追加</h4>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="float-right">
        <button class="btn btn-primary" type="submit">登録</button>
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ form.media }}
{% endblock %}