{% extends 'base.html' %}
{% load bootstrap4 %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <h4 class="mb-2">タスク詳細</h4>
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <i class="fas fa-lg fa-thumbtack mx-1" style="color: {{ task.color }};"></i>
                        <a href="{% url 'main:task_detail' task.pk %}">
                            {{ task.title }}
                        </a>
                        {% if task.total_actual_progress == 100 %}
                            <i class="fas fa-check-circle mx-1 text-success"></i>
                        {% else %}
                            <span class="mx-1 badge {% if task.remaining_days >= 3 %} badge-info {% elif task.remaining_days >= 0 %} badge-warning {% else %} badge-danger {% endif %} my-1">{{ task.remaining_days }} 日</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <small>{{ task.get_note_html|safe }}</small>
                    </div>
                    <div class="col-xl-4">
                        <div class="progress my-1">
                            <div class="progress-bar" role="progressbar"
                                aria-valuenow="{{ task.total_actual_progress }}" aria-valuemin="0" aria-valuemax="100"
                                style="width:{{ task.total_actual_progress }}%;">
                            </div>
                        </div>
                        <span class="badge badge-secondary my-1">期日：{{ task.target_date }}</span>
                        <span class="badge badge-secondary my-1">進捗：{{ task.total_actual_progress }}%</span>
                        <span class="badge badge-secondary my-1">残工数：{{ task.predicted_remaining_workload }}h</span>
                        <span class="badge badge-secondary my-1">残工数/日：{{ task.predicted_workload_per_day }}h</span>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in task.actual_data.all %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xl-8">
                                {{ item.input_date }}
                            </div>
                            <div class="col-xl-4">
                                <span class="badge badge-secondary my-1">{{ item.actual_workload }}h</span>
                                <span class="badge badge-secondary my-1">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>    </div>
    <hr>
    <div class="col-md-6 border-left">
        <h4 class="mb-2">サマリー</h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ object.total_actual_progress }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ object.total_actual_progress }}%;">
            </div>
        </div>
        実績総工数：{{ task.total_actual_workload }}<br>
        予測総工数：{{ task.predicted_total_workload }}<br>
        予測残工数：{{ task.predicted_remaining_workload }}<br>
        <hr>
        {% block actualediter %}
        {% endblock %}
        {% for item in sorted_actual_data %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6">
                        {{ item.input_date }}
                    </div>
                    <div class="col-lg-6 text-right">
                        <span class="badge badge-secondary">{{ item.actual_workload }}h</span>
                        <span class="badge badge-secondary">{{ item.progress }}%</span>
                        <a href="{% url 'main:actual_data_edit' item.pk %}">
                            <i class="fas fa-lg fa-edit text-primary faa-shake animated-hover"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ item.get_note_html|safe }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ form.media }}
{% endblock %}