{% extends 'base.html' %}
{% load bootstrap4 %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <h4 class="mb-2">タスク詳細</h4>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <p class="text-right">
                <button class="btn btn-primary" type="submit">更新</button>
            </p>
        </form>
    </div>
    <hr>
    <div class="col-md-6 border-left">
        <h4 class="mb-2">サマリー</h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ object.total_actual_progress }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ object.total_actual_progress }}%;">
            </div>
        </div>
        実績総工数：{{ object.total_actual_workload }}<br>
        予測総工数：{{ object.predicted_total_workload }}<br>
        予測残工数：{{ object.predicted_remaining_workload }}<br>
        <hr>
        <h4 class="mb-2">実績</h4>
        <p class="text-right">
            <a href="{% url 'main:actual_data_add' object.pk %}"><button class="btn btn-primary">追加</button></a>
        </p>
        {% for item in sorted_actual_data %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6">
                        {{ item.input_date }}
                    </div>
                    <div class="col-lg-6 text-right">
                        <span class="badge badge-secondary">{{ item.actual_workload }}h</span>
                        <span class="badge badge-secondary">{{ item.progress }}%</span>
                        <a href="{% url 'main:actual_data_edit' item.pk %}">
                            <i class="fas fa-lg fa-edit text-primary faa-shake animated-hover"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ item.get_note_html|safe }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ form.media }}
{% endblock %}