{% extends 'base.html' %}
{% load bootstrap4 %}
{% block main %}
<h4>タスク登録</h4>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="float-right">
        <button class="btn btn-primary" type="submit">登録</button>
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ form.media }}
{% endblock %}