{% extends 'base.html' %}
{% load static %}

{% block main %}


<div class="row">
    <div class="col-md-6">
        <h4 class="mb-2">予測工数</h4>
        <p class="text-right">
            <button class="btn btn-primary" id="button_graph_total">予測工数</button>
            <button class="btn btn-primary" id="button_graph_perday">予測工数/日</button>
            <button class="btn btn-primary" id="button_graph_actual">実績工数/日</button>
        </p>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary mt-4" role="status" id="graph_loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <canvas id="myChart" height="250"></canvas>
    </div>
    <hr>
    <div class="col-md-6 border-left">
        <h4 class="mb-2">一覧</h4>
        <p class="text-right">
            <a href="{% url 'main:task_add' %}"><button class="btn btn-primary">登録</button></a>
        </p>

        {% for task in all_task_list %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <i class="fas fa-lg fa-thumbtack mx-1" style="color: {{ task.color }};"></i>
                        <a href="{% url 'main:task_detail' task.pk %}">
                            {{ task.title }}
                        </a>
                        {% if task.total_actual_progress == 100 %}
                            <i class="fas fa-check-circle mx-1 text-success"></i>
                        {% else %}
                            <span class="mx-1 badge {% if task.remaining_days >= 3 %} badge-info {% elif task.remaining_days >= 0 %} badge-warning {% else %} badge-danger {% endif %} my-1">{{ task.remaining_days }} 日</span>
                        {% endif %}
                    </div>
                    <div class="col-4 text-right">
                        <a href="{% url 'main:actual_data_add' task.pk %}"><i
                                class="fas fa-lg fa-plus mx-1 text-primary faa-flash animated-hover"></i></a>
                        <a href="{% url 'main:task_detail' task.pk %}"><i
                                class="fas fa-lg fa-edit mx-1 text-primary faa-wrench animated-hover"></i></a>
                        <a href="#"><i class="fas fa-lg fa-trash-alt mx-1 text-danger faa-wrench animated-hover"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <small>{{ task.get_note_html|safe }}</small>
                    </div>
                    <div class="col-xl-4">
                        <div class="progress my-1">
                            <div class="progress-bar" role="progressbar"
                                aria-valuenow="{{ task.total_actual_progress }}" aria-valuemin="0" aria-valuemax="100"
                                style="width:{{ task.total_actual_progress }}%;">
                            </div>
                        </div>
                        <span class="badge badge-secondary my-1">期日：{{ task.target_date }}</span>
                        <span class="badge badge-secondary my-1">進捗：{{ task.total_actual_progress }}%</span>
                        <span class="badge badge-secondary my-1">残工数：{{ task.predicted_remaining_workload }}h</span>
                        <span class="badge badge-secondary my-1">残工数/日：{{ task.predicted_workload_per_day }}h</span>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in task.actual_data.all %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xl-8">
                                {{ item.input_date }}
                            </div>
                            <div class="col-xl-4">
                                <span class="badge badge-secondary my-1">{{ item.actual_workload }}h</span>
                                <span class="badge badge-secondary my-1">{{ item.progress }}%</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    const verticalLinePlugin = {
        getLinePosition: function (chart, pointIndex) {
            const meta = chart.getDatasetMeta(0); // first dataset is used to discover X coordinate of a point
            const data = meta.data;
            return data[pointIndex]._model.x;
        },
        renderVerticalLine: function (chartInstance, pointIndex) {
            const lineLeftOffset = this.getLinePosition(chartInstance, pointIndex);
            const scale = chartInstance.scales['y-axis-0'];
            const scalex = chartInstance.scales['x-axis-0'];
            const context = chartInstance.chart.ctx;
            // render vertical line
            context.beginPath();
            context.strokeStyle = '#ff0000';
            context.moveTo(lineLeftOffset, scale.top);
            context.lineTo(lineLeftOffset, scale.bottom);
            context.stroke();
            // write label
            context.fillStyle = "#ff0000";
            context.textAlign = 'center';
            context.fillText('▼', lineLeftOffset, scale.top);
        },
        afterDatasetsDraw: function (chart, easing) {
            if (chart.config.lineAtIndex) {
            chart.config.lineAtIndex.forEach(pointIndex => this.renderVerticalLine(chart, pointIndex));
            }
        }
    };
    Chart.plugins.register(verticalLinePlugin);
    var myLineChart;
    var drawGraph = function(param) {
        $('#myChart').hide();
        $('#graph_loading').show();
        $.ajax({
            url:'{% url "main:top_graph_data" %}' + '?param=' + param,
            type:'GET'
        })
        // Ajaxリクエストが成功した時発動
        .done( (data) => {
            if (myLineChart){
                myLineChart.destroy();
            }
            $('#myChart').show();
            var ctx = document.getElementById("myChart").getContext("2d");
            myLineChart = new Chart(ctx, data);
            $('#graph_loading').hide();
        });
    };
    $(document).ready(function () {
        drawGraph('total')
    });
    $("#button_graph_total").click(function () {
        drawGraph('total');
    }); 
    $("#button_graph_perday").click(function () {
        drawGraph('perday');
    });
    $("#button_graph_actual").click(function () {
        drawGraph('actual');
    });
</script>
{% endblock %}